:root {
  --primary: #CCDAD1;
  --secondary: #9CAEA9;
  --tertiary: #788585;
  --light-dark: #6F6866;
  --dark: #38302E;
  --border-radius: 0.3rem;
  --dark-blue: #00008B;
  --royal-blue: #4169E1;
  --grey: #808080;
  --light-blue: #ADD8E6;
}
